#footer-top {
  background-color: #3a546d;
}

#footer-bottom {
  background-color: var(--header-footer-color);
  color: var(--bs-white);
  height: 110px;
}

footer .row .col {
  background-color: violet;
  height: 100px;
}