main section:nth-child(odd) {
  background-color: #1abc9c;
}

main section:nth-child(even) {
  background-color: var(--bs-white);
}

main #jumbotron {
  color: var(--bs-white);
}

main #portfolio .row .col {
  height: 100px;
}

main #portfolio .row #house-work {
  background-color: var(--house-work-color);
}

main #portfolio .row #cake-work {
  background-color: var(--cake-work-color);
}

main #portfolio .row #circus-work {
  background-color: var(--circus-work-color);
}

main #portfolio .row #pad-work {
  background-color: var(--pad-work-color);
}

main #portfolio .row #safe-work {
  background-color: var(--safe-work-color);
}

main #portfolio .row #sub-work {
  background-color: var(--sub-work-color);
}