:root {
  --cake-work-color: #1ea4b6;
  --circus-work-color: #140f0f;
  --header-footer-color: #2c3e50;
  --house-work-color: #ba4b63;
  --pad-work-color: #1c83c1;
  --safe-work-color: #0e38b5;
  --sub-work-color: #ccb2a3;
}